
<div class="post_body">
  <% if (page.posts.length > 0) { %>
    <div class="posts">
      <div class="top_title">
        <h1>kokediary</h1>
      </div>
      <% page.posts.sort('date', -1).limit(10).each(post => { %>
        <div class="post-item l_inner">
          <a href="<%=url_for(post.path)%>">
            <article>
                <h2><%=post.title%></h2>
                <time datetime="<%=post.date.toJSON()%>"><%=date(post.date)%></time>
            </article>
          </a>
        </div>
      <% }); %>
    </div>
    <div id="paginator">
      <%-paginator()%>
    </div>
  <% } %>
</div>
